@keyframes bounce-a570eb29 {
  0%,
  to {
    transform:translateY(0)
  }
  50% {
    transform:translateY(-15px)
  }
}
.animate-bounce[data-v-a570eb29] {
  animation:bounce-a570eb29 .5s
}
.highlight[data-v-a42b7e17] {
  position:relative;
  display:inline-block;
  padding:0 .25em;
  z-index:1
}
.highlight[data-v-a42b7e17]:before {
  content:"";
  position:absolute;
  left:50%;
  top:50%;
  width:120%;
  height:120%;
  border:3px solid rgb(192 132 252);
  border-radius:50%;
  transform:translate(-50%,-50%) rotate(-5deg);
  z-index:-1
}
.line-break-mobile[data-v-a42b7e17]:after {
  content:"";
  display:inline;
  content:"\a";
  white-space:pre
}
